@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

h3 {
  margin: 5px 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

@keyframes spinner {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 1;
  }
  35% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
  55% {
    transform: scale(0) rotate(720deg);
    opacity: 1;
  }
  85% {
    transform: scale(1) rotate(1080deg);
    opacity: 1;
  }
  100% {
    transform: scale(0) rotate(1260deg);
    opacity: 0;
  }
}
@keyframes white-background {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  85% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: white-background 0.1s ease-in-out forwards;
  /******* Durée de l'animation réduite à .1s pendant le développement.
  A remettre à 3s avant livraison ****/
}
.loading__spinner--1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 10px solid white;
  border-bottom: 10px solid #9356DC;
  border-radius: 50%;
  animation: spinner 0.1s ease-in-out 50ms both;
  /******* Durée de l'animation réduite à .1s pendant le développement.
  A remettre à 3s avant livraison ****/
}
.loading__spinner--2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 10px solid white;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  animation: spinner 0.1s ease-in-out 100ms both;
  /******* Durée de l'animation réduite à .1s pendant le développement.
  A remettre à 3s avant livraison ****/
}
.loading__spinner--3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 10px solid white;
  border-bottom: 10px solid #99E2D0;
  border-radius: 50%;
  animation: spinner 0.1s ease-in-out 150ms both;
  /******* Durée de l'animation réduite à .1s pendant le développement.
  A remettre à 3s avant livraison ****/
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  min-width: 190px;
  padding: 0 25px;
  border: 0;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.btn:hover {
  opacity: 0.85;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes liking-filled-heart {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes liking-empty-heart {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fa-stack {
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-button input[type=checkbox], .like-button .heart--liked {
  display: none;
}

.like-button input[type=checkbox]:checked ~ .heart--liked {
  display: inline-block;
  animation: liking-filled-heart 1s ease-in-out;
}

.like-button input[type=checkbox]:checked ~ .heart--not-liked {
  animation: liking-empty-heart 0.4s 0.6s forwards;
}

.fa-heart {
  font-weight: normal;
  cursor: pointer;
}

.heart--liked {
  font-weight: bold;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  /* Besoin du préfixe -webkit- pour fonctionner sur Chrome. A mettre via autoprefixer */
  color: #FFFFFF00;
}
.heart--not-liked:hover {
  animation: heartbeat 0.3s ease-in-out;
}

.menu__item input[type=checkbox] {
  display: none;
}
.menu__item:hover .menu__select, .menu__item:hover .menu__price {
  transform: translateX(-60px);
}
.menu__item:hover .menu__select::before {
  transform: rotate(360deg);
  transition: transform 0.5s linear;
}
.menu__item:hover .menu__desc {
  margin-right: 60px;
}
.menu__select {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  width: 60px;
  height: 100%;
  margin-right: -60px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  color: white;
  transition: transform 0.5s ease-in-out;
}

/* @import "./layouts/flex"; */
.shadow {
  box-shadow: 0px 5px 5px 2px #E9E9E9;
  transition: box-shadow 0.15s ease-in-out;
}
.shadow:hover.btn {
  box-shadow: 0px 5px 5px 2px #b6b6b6;
}
.shadow--dark {
  box-shadow: 0px 3px 5px #d0d0d0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 12px 20px;
  position: relative;
}
.header p {
  display: flex;
  justify-content: center;
}
.header__logo {
  width: 170px;
}
.header a {
  position: absolute;
  left: 25px;
}
.header__arrow--hidden {
  display: none;
}

.footer {
  background-color: #383838;
}
.footer__content {
  max-width: 650px;
  margin: 0 auto;
  padding: 25px 0 15px 25px;
}
.footer h2 {
  margin: 0;
  font-family: "Shrikhand", cursive;
  color: white;
}
.footer__item {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.footer__link {
  width: fit-content;
  color: white;
}
.footer__icon {
  width: 12px;
  margin-right: 12px;
  color: white;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background-color: #E9E9E9;
}
.location__text-field {
  width: 140px;
  background-color: #E9E9E9;
  border: 0;
}
.location__text-field::placeholder {
  opacity: 1;
}
.location__text-field:focus {
  background-color: #F6F6F6;
}
.location__icon {
  margin-right: 12px;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
}
.introduction h1 {
  max-width: 75%;
  margin: 45px 0 20px 0;
  font-size: 24px;
  text-align: center;
}
.introduction__text {
  max-width: 85%;
  margin: 0 0 30px 0;
  color: #7D7D7D;
  text-align: center;
}
.introduction a {
  margin-bottom: 55px;
  border-radius: 25px;
}

.functioning {
  margin: 0 auto;
  max-width: 650px;
  width: 100%;
  padding: 50px 20px 65px 32px;
}
.functioning__step {
  display: flex;
  align-items: center;
  height: 70px;
  margin: 20px 0;
  border-radius: 20px;
  background-color: #F6F6F6;
}
.functioning__step:hover {
  background-color: #F4EDFF;
}
.functioning__step:hover .functioning__icon {
  color: #9356DC;
}
.functioning__number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -12px;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  color: white;
  background-color: #9356DC;
}
.functioning__icon {
  width: 16px;
  margin: 0 25px 0 20px;
  color: #7D7D7D;
}
.functioning p {
  font-weight: bold;
}

.restaurants {
  background-color: #F6F6F6;
}
.restaurants__list {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}
.restaurants a {
  margin-bottom: 15px;
  border-radius: 12px;
}
.restaurants__card {
  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 12px;
}
.restaurants__picture-box {
  position: relative;
  height: 175px;
  border-radius: 12px 12px 0 0;
}
.restaurants img {
  width: 100%;
  height: 100%;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}
.restaurants__new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  height: 30px;
  width: 80px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
}
.restaurants__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 15px;
}
.restaurants__heart {
  font-size: 24px;
}

@keyframes menu-display {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  80% {
    opacity: 0.8;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.picture {
  max-width: 650px;
  width: 100%;
  max-height: 265px;
  margin: 0 auto;
}
.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  max-width: 650px;
  width: 100%;
  margin: -50px auto 0 auto;
  padding: 35px 10px 0 20px;
  background-color: #F6F6F6;
  border-radius: 35px 35px 0 0;
}
.menu .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu h1 {
  font-family: "Shrikhand", cursive;
  margin: 0;
}
.menu__heart-container {
  padding-right: 15px;
}
.menu__heart {
  font-size: 28px;
}
.menu__starters {
  transform-origin: bottom;
  animation: menu-display 0.6s linear backwards;
}
.menu__main-courses {
  transform-origin: bottom;
  animation: menu-display 0.4s 0.1s linear backwards;
}
.menu__desserts {
  transform-origin: bottom;
  animation: menu-display 0.4s 0.2s linear backwards;
}
.menu h2 {
  position: relative;
  margin: 35px 0 25px 0;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
}
.menu__underline {
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.menu__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  margin-bottom: 12px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}
.menu__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 24px 0 12px;
}
.menu__desc-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__desc {
  width: 100%;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: margin-right 0.3s ease-in-out;
}
.menu__price {
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}
.menu .order {
  display: flex;
  justify-content: center;
  margin: 40px 0 80px 0;
}
.menu .order a {
  border-radius: 25px;
}

/*# sourceMappingURL=main.css.map */
