@keyframes heartbeat {
    0% {
        transform: scale(1)
    }
    25% {
        transform: scale(1.15);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes liking-filled-heart {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes liking-empty-heart {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fa-stack {
    @include flex-center-center;
}

.like-button input[type=checkbox], .like-button .heart--liked {
    display: none;
}

.like-button input[type=checkbox]:checked ~ .heart--liked {
    display: inline-block;
    animation: liking-filled-heart 0.5s ease-in-out;
}

.like-button input[type=checkbox]:checked ~ .heart--not-liked {
    animation: liking-empty-heart 0.2s 0.3s forwards;
}

.fa-heart {
    font-weight: normal;
    cursor: pointer;
}

.heart {
    &--liked {
        width: 28px;
        height: 28px;
    }

    &-top {
        stop-color: $color-primary;
    }

    &-bottom {
        stop-color: $color-secondary;
    }

    &--not-liked {
        font-size: 28px;
        &:hover {
            animation: heartbeat .3s ease-in-out;
        }
    }    
}