* {
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

main {
    @include flex-column;
}

p {
    margin: 0;
}

h3 {
    margin: 5px 0;
}

ul {
    padding-left: 0;
    list-style: none;
}