* {
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

main {
    @extend %flex-column;
}

p {
    margin: 0;
}