.location {
    @extend %flex-center-center;
    padding: 15px 0;
    background-color: $background-grey--medium;

    &__text-field {
        width: 140px;
        background-color: $background-grey--medium;
        border: 0;

        &::placeholder {
            opacity: 1;
        }

        &:focus {
            background-color: $background-grey--light;
        }
    }

    &__icon {
        margin-right: 12px;
    }
}

.introduction {
    @extend %flex-column-align-center;
    background-color: $background-grey--light;

    h1 {
        max-width: 75%;
        margin: 45px 0 20px 0;
        font-size: 24px;
        text-align: center;
    }

    &__text {
        max-width: 85%;
        margin: 0 0 30px 0;
        color: $grey-primary;
        text-align: center;
    }

    a {
        margin-bottom: 55px;
        border-radius: 25px;
    }
}

.functioning {
    padding: 50px 20px 65px 32px;

    &__step {
        @extend %flex-align-center;
        height: 70px;
        margin: 20px 0;
        border-radius: 20px;
        background-color: $background-grey--light;

        &:hover {
            background-color: $color-primary--light;
        }

        &:hover .functioning__icon {
            color: $color-primary;
        }
    }

    &__number {
        @extend %flex-center-center;
        margin-left: -12px;
        height: 24px;
        width: 24px;
        border-radius: 12px;
        color: white;
        background-color: $color-primary;
    }

    &__icon {
        width: 16px;
        margin: 0 25px 0 20px;
        color: $grey-primary;
    }

    p {
        font-weight: bold;
    }
}

.restaurants {
    @extend %flex-column;
    background-color: $background-grey--light;
    padding: 0 20px 0 20px;

    a {
        margin-bottom: 15px;
        border-radius: 12px;
    }

    &__card {
        width: 100%;
        height: 250px;
        background-color: white;
        border-radius: 12px;
    }

    &__picture-box {
        position: relative;
        height: 175px;
        border-radius: 12px 12px 0 0;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 12px 12px 0 0;
        object-fit: cover;
    }

    &__new {
        @extend %flex-center-center;
        position: absolute;
        top: 15px;
        right: 15px;
        height: 30px;
        width: 80px;
        border-radius: 2px;
        background-color: $color-tertiary;
        color: darken($color-tertiary, $amount: 40%);
        font-weight: bold;
    }

    &__description {
        @extend %flex-space-between-center;
        height: 75px;
        padding: 0 15px;
    }

    &__heart {
        font-size: 24px;
    }
}