$color-primary: #9356DC;
$color-primary--light: #F4EDFF;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$grey-primary: #7D7D7D;
$background-grey--light: #F6F6F6;
$background-grey--medium: #E9E9E9;
$background-grey--dark: #383838;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', cursive;