$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$grey--light: #F6F6F6;
$grey--medium: #E9E9E9;
$grey--dark: #383838;

/* A voir si j'intègre les polices via Google Fonts
ou si je fais télécharger les fichiers au navigateur*/
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', cursive;