$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background-color--light: #F6F6F6;
$background-color--medium: #E9E9E9;
$background-color--dark: #383838;

/* A voir si j'intègre les polices via Google Fonts
ou si je fais télécharger les fichiers au navigateur*/
$font-main: 'Roboto', sans-serif;
$font-restaurant-names: 'Shrikhand', cursive;