.footer {
    background-color: $background-grey--dark;
    

    &__content {
        max-width: 650px;
        margin: 0 auto;
        padding: 25px 0 5px 25px;

        @include desktop-layout {
            max-width: 1500px;
        }
    }

    h2 {
        margin: 0;
        font-family: $font-secondary;
        color: white;

        @include desktop-layout {
            width: fit-content;
            margin: 0 auto;
        }
    }

    ul {
        @include desktop-layout {
            @include flex-space-around-center;
        }
    }

    &__item {
        @include flex-align-center;
        padding: 5px 0;
    }

    &__link {
        width: fit-content;
        color: white;
    }

    &__icon {
        width: 12px;
        margin-right: 12px;
        color: white;
    }
}