.header {
    @include flex-center-center;
    padding: 20px 20px 12px 20px;
    position: relative;

    p {
        @include flex-center;
    }

    &__logo {
        width: 170px;
    }

    a {
        position: absolute;
        left: 25px;
    }

    &__arrow {
        &--hidden {
            display: none;
        }
    }
}
